body {
  max-width: 100vw;
  height: 100vw;
  /* background-color: rgba(117, 190, 218, 0.5); */
  background: linear-gradient(white,50%, blue);
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0.2, 0.3);
}

.cat-info {
  display: flex;
  gap: 10px;
  max-width: 800px;
  margin: 150px;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
  
}

.img-cat {
  display: block;
  max-width: 50%;
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3); 
}

.js-list {
  list-style: none;
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

.js-hidden {
  display: none;
}

.error {
  color: red;
}

.loader {
  color: blue;
  font-size: 16px;
  line-height: 1.5;
}

.breed-select {
  font-size: 16px;
}

.click {
  font-size: 20px;
  line-height: 1.6;
}